

body {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color:  #ff7e4f;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.last{

  background-color: #ff7e4f ;
  text-align: center;
  padding: 20px 0;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 220px;
  left: 200px;
  display: flex;
  flex-direction: column;
}

.conhead{
  position: absolute;
  top: 125px;
  left: 200px;
}
.tdec{
  text-decoration: none;
  color: inherit;
} 

